.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.decorador {
  transition: transform 1s linear;
}
@media (max-width: 800px) {
  .decorador img {
    max-width: 60px;
  }
}
@media (max-width: 600px) {
  .decorador img {
    width: 40px;
  }
}
