.footer-bg {
  background: #000;
}
.footer {
  max-width: 1200px;
  padding: 48px 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer-contato li {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  margin-bottom: 12px;
}
.footer-contato li a {
  color: #fcfff8;
  margin-left: 12px;
}
.footer-contato li img {
  width: 20px;
}
.voltar-ao-topo {
  background: #1a5c02;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .footer-contato li {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 24px 20px;
  }
  .footer-contato li {
    font-size: 0.75rem;
  }
}
