.formacao-bg {
  background: #151515;
}
.formacao {
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
}
.formacao-subtitulo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.formacao div + div > span {
  background: #fcfff8;
  font-family: "Poppins";
  color: #2d2d2d;
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 20px;
  width: max-content;
  display: inline-block;
  margin-bottom: 24px;
}
.academica ul,
.cursos ul,
.idiomas ul {
  margin-bottom: 40px;
}
.idiomas li,
.academica li,
.cursos li {
  font-family: "IBM Plex Mono";
  color: #fcfff8;
  font-size: 1.25rem;
  padding: 4px 8px;
  border-radius: 20px;
  border: 2px solid transparent;
  margin-bottom: 4px;
}
.academica li,
.cursos li {
  display: flex;
  justify-content: space-between;
}
.idiomas li:hover,
.academica li:hover,
.cursos li:hover {
  border: 2px solid #3F3E3E;
} 
.academica li span,
.cursos li span,
.idiomas li span {
  color: #4ba22b;
}
.academica li,
.cursos li:nth-child(odd),
.idiomas li {
  background: #000;  
}
@media (max-width: 800px) {
  .formacao div + div > span {
    font-size: 0.875rem;
  margin-bottom: 12px;
  }
  .academica li,
  .cursos li,
  .idiomas li {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .formacao {
    padding: 40px 20px;
  }
  .formacao div + div > span {
    font-size: 0.75rem;
  }
  .academica li,
  .cursos li,
  .idiomas li {
    font-size: 0.75rem;
  }
  .academica li,
.cursos li {
  display: grid;
  grid-template-columns: 1fr;
}
}

