.formacao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.formacao-subtitulo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.formacao div + div > span {
  background: #e9ece1;
  font-family: "Forum", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 8px 16px;
  border-radius: 40px;
  width: max-content;
  display: inline-block;
  margin-bottom: 24px;
}
.cursos ul,
.idiomas ul {
  margin-bottom: 40px;
}
.cursos li {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.cursos li span,
.idiomas li span {
  color: #6e8349;
}
.cursos li:nth-child(odd),
.idiomas li {
  background: #e9ece1;
  border-radius: 40px;
}
.idiomas li {
  padding: 8px 16px;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .formacao div > span {
    font-size: 1rem;
  }
  .cursos li,
  .idiomas li {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .formacao div > span {
    font-size: 0.875rem;
  }
  .cursos li,
  .idiomas li {
    font-size: 0.875rem;
  }
}
