body {
  margin: 0px;
  background: #fafbf8;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
*,
*::after {
  box-sizing: border-box;
}
.subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 7.75rem;
  font-weight: 400;
  color: #eef5ec;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .subtitulo {
    font-size: 5rem;
  }
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
  }
}
