.habilidades-bg {
  background: #99a97c;
}
.habilidades {
  max-width: 1200px;
  padding: 40px 20px 60px 20px;
  margin: 0 auto;
}
.habilidades-subtitulo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.habilidades ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #c6d2b0;
  border-radius: 40px;
}
.habilidades li {
  background: #eaefe0;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  font-family: "Forum", serif;
  color: #121a03;
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.habilidades li img {
  max-width: 60px;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .habilidades ul {
    margin: 0 10px;
  }
  .habilidades li {
    margin: 20px 20px;
    font-size: 1rem;
    width: 90px;
    height: 90px;
  }
  .habilidades li img {
    max-width: 40px;
  }
}
