.header-container {
  border-bottom: 1px solid #287e09;
  background: #000;
}
.header {
  max-width: 1200px;
  padding: 37px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  color: #fff;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.header-menu a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  line-height: 1;
  color: #f6f6f6;
  border-radius: 40px;
  padding: 4px 16px;
}
.header a:hover {
  background: #2d2d2d;
}
.header-menu a.contato {
  background: linear-gradient(#eefadd, #fcfff8);
  color: #000;
}
.header-menu a.contato:hover {
  background: linear-gradient(#d4eab4, #eefadd);
}
.header-menu li {
  position: relative;
}
.header-menu li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #afd777;
  top: 50%;
  position: absolute;
}
@media (max-width: 900px) {
  .header {
    padding: 16px;
    flex-direction: column;
  }
  .header-menu {
    margin-top: 12px;
  }
  .header-menu a {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .header-menu a {
    font-size: 0.875rem;
    border-radius: 40px;
    padding: 4px 8px;
  }
}
