.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../img/bright.svg") no-repeat top 50% left 50%;
}
.introducao h1 {
  font-family: "Forum", serif;
  font-size: 7.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.125;
  max-width: 7ch;
  position: relative;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 5rem;
  }
  .introducao img {
    max-width: 200px;
  }
}
@media (max-width: 800px) {
  .introducao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .introducao {
    background: none;
  }
  .introducao img {
    max-width: 100px;
  }
}
