.introducao-bg {
  background: #151515;
}
.introducao-container {
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introducao-conteudo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 7.75rem;
  font-weight: 400;
  color: #f0f5eb;
  text-transform: uppercase;
  line-height: 1.13;
  max-width: 7ch;
}
.introducao-conteudo p {
  font-family: "IBM Plex Mono";
  font-size: 2.25rem;
  line-height: 1.5;
  color: #f0f5eb;
  text-transform: uppercase;
}
.introducao-container img {
  justify-self: end;
}
@media (max-width: 1000px) {
  .introducao-conteudo h1 {
    font-size: 5rem;
  }
  .introducao-conteudo p {
    font-size: 1.75rem;
  }
  .introducao-container img {
    max-width: 200px;
  }
}
@media (max-width: 800px) {
  .introducao-container {
    padding: 40px 20px;
  }
  .introducao-conteudo h1 {
    font-size: 3rem;
  }
  .introducao-conteudo p {
    font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  .introducao-conteudo {
    background: none;
  }
  .introducao-conteudo p {
    font-size: 0.875rem;
  }
  .introducao-container img {
    max-width: 100px;
  }
}
