.projetos-bg {
  background: #2d2d2d;
}
.projetos-subtitulo {
  max-width: 1200px;
  padding: 100px 40px 0 40px;
  margin: 0 auto;
}
.projetos button {
  margin: 20px;
}
.projetos-itens {
  display: flex;
  gap: 20px;
}
/* cada card projeto */
.projeto {
  width: 388px;
  background: #151515;
  border: 4px solid #151515;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transform: scale(0.94);
  transition: 0.4s;
}
.projeto-img {
  width: 380px;
}
.projeto-img img {
  border-radius: 16px;
}
.projeto-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}
.projeto-titulo {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 12px;
}
.projeto-titulo a {
  display: flex;
  align-content: center;
}
.projeto-nome {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #eefadd;
}
.projeto-texto {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  line-height: 1.3;
  color: #ccc;
  margin: 20px 0;
}
.projeto-tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: auto 0 0 0;
}
.projeto-tecnologias li {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #eefadd;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #eefadd;
}
@media (max-width: 800px) {
  .projetos-subtitulo {
    padding: 40px 40px 0 40px;
  }
}
@media (max-width: 600px) {
  .projetos {
    padding: 40px 20px;
  }
  .projeto {
    width: 340px;
  }
  .projeto-img {
    width: 332px;
  }
  .projeto-tecnologias li {
    font-size: 0.875rem;
    padding: 4px 8px;
  }
}
/* slide */
.slide-wrapper {
  overflow: hidden;
}
.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2) url("../img/icones/arrow.svg") center center
    no-repeat;
}
.arrow-nav button.prev {
  transform: rotate(-180deg);
}
.projeto.active {
  transform: scale(1);
}
