.projetos-bg {
  background: #2d2d2d;
}
.projetos {
  max-width: 1200px;
  padding: 48px 40px 100px 40px;
  margin: 0 auto;
}
.projetos-itens {
  display: flex;
  gap: 40px;
}
.projeto {
  background: #151515;
  border: 4px solid #151515;
  border-radius: 20px;
}
.projeto img {
  border-radius: 16px;
}
.projeto-img a {
  display: flex;
}
.projeto-info {
  display: grid;
  padding: 20px;
}
.projeto-titulo {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 700;
  color: #eefadd;
  border-bottom: 1px solid #e4e4e4;
}
.projeto-texto {
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  line-height: 1.3;
  color: #ccc;
  margin-top: 20px;
}
.projeto-tecnologias {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.projeto-tecnologias li {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1;
  color: #eefadd;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #eefadd;
}
@media (max-width: 1000px) {
}
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
