.sobre-bg {
  background: #151515;
}
.sobre-container {
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sobre-texto {
  grid-column: 2 / 3;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  color: #f0f5eb;
  line-height: 1.5;
  max-width: 45ch;
  text-align: end;
  padding-left: 40px;
  position: relative;
}
.sobre-decorador {
  padding-right: 40px;
  align-self: center;
}
@media (max-width: 1000px) {
  .sobre-texto {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .sobre-container {
    padding: 40px 20px;
  }
  .sobre-texto {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .sobre-container {
    grid-template-columns: 1fr;
  }
  .sobre-texto {
    grid-column: 1;
    font-size: 0.75rem;
    text-align: center;
    justify-self: center;
    padding-left: 0;
    z-index: 9;
    position: relative;
  }
  .sobre-decorador {
    justify-self: center;
    max-width: 400px;
    z-index: 1;
    position: absolute;
  }
}
